@charset "UTF-8";
body {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: normal;
  font-kerning: auto;
  font-weight: 400;
}
h1 {
  font-size: x-large;
}
h2 {
  font-weight: 200;
  font-size: x-large;
}
a:link {
  color: #0D4166;
  text-decoration: none;
}
a:visited {
  color: #0D4166;
  text-decoration: none;
}
a:hover {
  color: #125D93;
  text-decoration: underline;
}

.topnav a:link {
  color: white;
  text-decoration: none;
}
.topnav a:visited {
  color: white;
  text-decoration: none;
}
.topnav a:hover {
  color: white;
  text-decoration: underline;
}
.head1 {
  font-size: xx-large;
  color: white;
  font-weight: 700;
  padding-left: 20px;
  background-color: #0D4166;
  width: auto;
  overflow: hidden;
}
.head2 {
  font-size: large;
  /*	background: #055E9D; */
  color: white;
  font-weight: 300;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  width: auto;
  overflow: hidden;
  background-color: #0D4166;
}
.topnav {
  font-size: 14px;
  font-weight: 500;
  padding-left: 20px;
  width: auto;
  overflow: hidden;
  color: #FFFFFF;
  background-color: #0D4166;
  padding-top: 20px;
  padding-bottom: 15px;
}
#nav {
  width: 200px;
  float: left;
	font-weight: 500;
}
#body {
  width: auto;
  overflow: hidden;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
#wrapper {
  overflow: hidden; /* add this to contain floated children */
}
#wrapper2 {
  overflow: hidden;
}
li {
	
	 margin: 10px 0;
}